<br />
<strong>User 2</strong>
<br />

<p style="font-family: monospace;color: blueviolet;"><b>Data receives from web job :</b> <span id="progress-span">0</span></p>


@section scripts {
	@Scripts.Render("~/bundles/jquery")
	<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
	<script src="http://localhost:2120/signalr/hubs"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			console.log($.connection);
			$.connection.hub.url = "http://localhost:53561/signalr";

			//	Create a function that the hub can call to send messages
			var chatHubProxy = $.connection.myHub;
			chatHubProxy.client.send = function (status) {
				console.log(' ' + status);
				$("#progress-span").text('[Dynamic] OrgId-UserId  ' + status);
			};

			$.connection.hub.qs = { 'userid': '56-43' };
			$.connection.hub.logging = true;
			$.connection.hub.start().done(function () {

			});
			$.connection.hub.error(function (error) {
				console.log('SignalR error: ' + error)
			});
		});
	</script>
}